.card-container{
    width:400px;
overflow:hidden;
box-shadow: 0px 0px 15px -5px;
background-color:White; 
border: 1px solid curved white;
border-radius:10px;
margin-top:50px;

}

.image-container >img{
    overflow:hidden;
    height:400px;
    width:300px;
    align-items: center;
    margin-left:12.5%;
    margin-top:5%;
    border: 20px solid curved white;
    border-radius:50px;

}
.cardName{
    text-align: center;
    font-size:30px;
}

.cardBio{
    text-align: left;
    font-size:20px;
    margin-left:5px;
}

